@model TroysBlog.Data.Comment

<section class="recent-comment">
    <blockquote>
        <p class="quotes">@Model.Content</p>
        <footer class="blockquote-footer"><strong>@Model.AuthoredBy</strong><br /><em>@Model.Blog.Title</em></footer>
    </blockquote>
</section>